<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.mytennis.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- *****往sdcard中写入数据的权限******* -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- *****在sdcard中创建/删除文件的权限******* -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />

    <!-- *****samsung fingerprint sdk permission******* -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name="com.king.khcareer.base.KApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.STYLE"
            android:value="fixedRatio" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name="com.king.khcareer.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.king.khcareer.home.classic.ManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.home.v6.ManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.home.v7.V7MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.record.detail.DetailGallery"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.record.editor.RecordEditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SubTheme" />
        <activity
            android:name="com.king.mytennis.glory.GloryModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.settings.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name=".H2hMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name=".player.H2HSearcher"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name=".RankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.home.classic.ClassicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.player.swipecard.SwipeCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.match.timeline.MatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.player.timeline.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.player.page.PlayerPageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.king.khcareer.match.page.MatchPageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.king.khcareer.match.manage.MatchManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.match.manage.MatchCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.score.ScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.player.manage.PlayerManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.player.manage.PlayerCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.match.gallery.UserMatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.home.k4.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.king.khcareer.rank.RankManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBarBlue" />
        <activity
            android:name="com.king.khcareer.record.k4.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name="com.king.khcareer.player.h2hlist.H2hListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RecordTheme" />
        <activity
            android:name="com.king.khcareer.glory.GloryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.king.khcareer.settings.k4.SettingActivityK4"
            android:label="@string/title_activity_ksettings"/>
    </application>

</manifest>